{% extends "layout.html "%}
{% block body %}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 text-center">
        <h1 class="text-center" style="color: #00193a;">Cart</h1><br>
    {% if session["cart"] == [] %}
        <p class = "fs-6 fw-bold">Cart is empty</p>
    {% else %}
        {% for item in session["cart"] %}
            <div>
                <p class = "fs-5"><b>Item:</b> {{ item["book"].name }}</p> 
                <p class = "fs-5"><b>Amount:</b> {{ item["amount"] }}</p>
                <p class = "fs-5"><b>Price:</b> {{ item["book"].price * item["amount"] }}$</p>
                <form action="/cart" method="post">
                    <input name="id" type="hidden" value="{{ item['book'].book_id }}">
                    <input class="btn btn-outline text-uppercase fs-6 mb-3 fw-bold" style="border-color: #00193a; color: #00193a; border-width: medium;" name="delete_item" type="submit" value="Delete Item">
                </form>
                <hr>
            </div>
        {% endfor %}
        <p class = "fs-5"><b>Total:</b> {{ session["total"] }}$</p>
        <form action="/success" method="post">
            <input name="total" type="hidden" value="{{ session['total'] }}">
            <input class="form-control" name="address" type="text" autocomplete="off" placeholder="Shipping Address">
            {% if context %}
                <p style="font-size:15px; color:#c40000;">{{ context }}</p>
            {% endif %}
            <br>
            <input class="btn btn-outline text-uppercase fs-6 mb-3 fw-bold" style="border-color: #00193a; color: #00193a; border-width: medium;" name="submit_order" type="submit" value="Submit order">
        </form>
    {% endif %}

    </div><div class="col-md-3" style="text-align:right;">
        <form action="/" method="post">
        <button class="btn btn-outline text-uppercase fs-5 mb-3 fw-bold" style="border-color: #00193a; color: #00193a; border-width: medium;" name="back" type="submit" value="back">Back to shopping</button>
    </form></div><div class="col-md-1"></div></div>
{% endblock %}