<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}">
        <title>MySite</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-secondary">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ url_for('index')}}">Book Store</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        {% if session["email"] %}
                            <a class="nav-link" href="{{ url_for('personal')}}">Personal information: {{ session["email"] }}</a>
                            <a class="nav-link" href="{{ url_for('cart')}}">Cart</a>
                            <a class="nav-link" href="{{ url_for('logout')}}">Logout</a>
                        {% else %}
                            <a class="nav-link" href="{{ url_for('register')}}">Registration</a>
                            <a class="nav-link" href="{{ url_for('login')}}">Login</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
        {% block body %}{% endblock %}
    </body>
</html>