{% extends "layout.html "%}
{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <form action="/register" method="post">
                    <div class="text_big">Registration</div>
                    <div class="form-floating mb-3">
                        <input name="surname" autocomplete="off" type="text" class="form-control" placeholder="Surname">
                        <label>Surname</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input name="name" autocomplete="off" type="text" class="form-control" placeholder="Name">
                        <label>Name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input name="email" autocomplete="off" type="text" class="form-control" placeholder="Email">
                        <label>Email</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input name="password" autocomplete="off" type="password" class="form-control" placeholder="Password">
                        <label>Password</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input name="phone_number" autocomplete="off" type="text" class="form-control" placeholder="Phone number">
                        <label>Phone number</label>
                    </div>
                    <button name="user_register" type="submit" class="btn btn-secondary" value="user_register">Submit</button>
                </form>
                {% if context %}
                    <div>{{ context }}</div>
                {% endif %}
            </div>
            <div class="col-3"></div>
        </div>
    </div>

{% endblock %}