{% extends "layout.html"%}
{% block body %}
<script type="text/babel">
    class Alertik extends React.Component {
  
      render(){
        return(
          <h1>Your account has been removed.</h1>
        );
      }
    }
    ReactDOM.render(<Alertik />, document.querySelector("#test"));
  </script>
  
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center">
            <div class="text-center" style="color: #00193a;" id="test"></div><br>
            <h1 class="text-center" style="color: #00193a;">Goodbye, {{ email }}</h1><br>
        </div><div class="col-md-4"></div></div>
        
        <div class="row">
            <div class="col-md-2"></div>
        <div class="col-md-4 fs-4">
            If there is something we can improve or if you wish to leave a feedback, you can contact us via <b>support@bookstore.com</b> or <b>+7 (777) 777-77-77</b>
        </div><div class="col-md-1"></div>
        <div class="col-md-3">
        <img src="/static/sad_cat.png" style="width: 100%;" alt="">
        </div>
        <div class="col-md-2"></div></div>

{% endblock %}
